.main-container {
    margin: 16px 16px 100px 16px;
    width: auto;
    height: 1200px;
}

.div-title {
    text-align: center;
}

.example-card {
    width: 60px;
    height: 45px;
}

.div-avatar {
  display: flex;
  justify-content: center;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
}

.note{
    color: #ff0000;
}

.full-width {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 25px;
}

.button-action {
    margin-top: 20px;
}

.div-form {
    margin-bottom: 20px;
}