.main-container {
    margin: 16px 16px 100px 16px;
    width: auto;
    height: auto;
}

.div-title {
    text-align: center;
}

.search-input {
    width: 15%;
}

.div-input-search {
    margin: 16px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: end;
}


.table-div {
    margin: 16px 16px 16px 16px;
    margin-top: 15px;
}

.text-status-one {
    background-color: rgba(0, 122, 245, 0.959);
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 4px;
}

.text-status-two {
    background-color: rgb(43, 175, 54);
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 4px;
}