.main-container {
    margin: 16px 16px 100px 16px;
    width: auto;
    height: auto;
}

.div-title {
    text-align: center;
}

.div-button-add {
    margin: 16px 16px 16px 16px;
}

.search-input {
    width: 15%;
}

.div-input-search {
    margin: 16px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* .mat-form-field-appearance-outline .mat-form-field-flex {
    padding-top: 0px;
    padding-right: 0.75em;
    padding-bottom: 0px;
    padding-left: 0.75em;
    margin-top: -0.25em;
    position: relative;
    height: 45px;
} */

.table-div {
    margin: 16px 16px 16px 16px;
    margin-top: 15px;
}