.div-title {
    text-align: center;
}

.search-input {
    width: 15%;
}

.div-input-search {
    margin: 16px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}